.editor-styles-wrapper,
.editor-styles-wrapper * {
    font-family: 'Bai Jamjuree', sans-serif !important;
}

.about__content article {
    max-width: 48rem;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.container, .container-fluid {
    margin-right: auto;
    margin-left: auto;
}
.block-editor-block-list__block {
    max-width: 100% !important;
    width: 100% !important;
}

.yoast_cornerstone{
    display: none !important;
}

.h-feature-value {
    text-align: center;
}

.feature_image {
    width: 30px;
    height: 30px;
}

.h-table-input .acf-input,
.h-table-select .acf-input{
    padding-top: 8px !important;
}

.check-option img{
    width: 45px;
    height: auto;
    transform: translate(-8px, 0px);
}

.h-value-input input{
    text-align: center;
}

#mceu_7:focus,
#mceu_7:hover{
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

#mceu_7 span{
    color: white !important;
    font-size: 12px !important;
}

i.mce-ico.mce-i-format-paint {
    display: none;
}

.h-field-hide{
    display: none !important;
}

.js .tmce-active .wp-editor-area {
    color: #000000 !important;
}

.hero-title-gradient {
    background: linear-gradient(270deg, rgba(255, 135, 95, .9) 0, rgba(255, 160, 125, .75) 45%, rgba(255, 185, 160, .45) 70%, rgba(255, 185, 160, 0));
    color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(270deg, #fff 10%, #ffd6c4 20%, #ffb59a 50%, #ff6734), linear-gradient(270deg, rgba(255, 73, 12, .6), rgba(250, 76, 3, .4), rgba(246, 70, 4, .4), rgba(255, 185, 160, 0));
    background-clip: text, padding-box;
    -webkit-background-clip: text, padding-box;
    text-shadow: 0.1px 0.1px black;
    font-weight: 500;
}

h1.wp-block.wp-block-post-title.block-editor-block-list__block.editor-post-title.editor-post-title__input.rich-text {
    max-width: 60% !important;
    width: 100% !important;
    margin: auto;
    background: white;
    padding: 20px;
    font-size: 18px;
}
.aween-logo {
    fill: #00362A !important;
}

.h-preview__content {
    background: #1e1e1e;
    color: white;
}

.h-preview {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.h-preview__image {
    max-width: 100%;
    width: 100%;
}

.h-preview__image img{
    width: 100%;
}

.block-list-appender.wp-block {
    border: 1px solid lightgray;
    padding: 20px;
}

.editor-styles-wrapper.block-editor-writing-flow {
    background: #e8e8e8;
}

.acf-block-preview {
    background: #00020E;
    padding: 0px;
    min-height: 50px !important;
    color: #fff;
    font-size: 16px;
    text-align: center;
    border: 1px solid #c1c1c1;
    line-height: 50px;
    cursor: pointer;
    transition: 0.5s;
}

.acf-block-preview:hover {
    transition: 0.5s;
}

.acf-gallery-sort {
    display: none !important;
}

.column-post_image {
    width: 60px;
}

.column-post_image img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.is-sidebar-opened .wp-block-post-content img {
    width: 100px;
}

.acf-block-body .acf-block-preview {
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: .5rem;
    font-family: "Bai Jamjuree";
    font-weight: 500;
    line-height: 1.2
}
p {
    margin-top: 0;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.6em;
}


.h1,
h1 {
    font-size: 7rem
}

.h2,
h2 {
    font-size: 4rem
}

.h3,
h3 {
    font-size: 2.8rem
}

.h4,
.h5,
h4,
h5 {
    font-size: 2rem
}

.h6,
h6 {
    font-size: 1.5rem
}

.acf-block-preview .about {
    background-color: #fff;
}

.banner__content {
    position: relative;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 20rem 0;
    height: 85vh;
}
.banner__content-logo {
    display: flex;
}
.banner__content-logo__item {
    margin-right: 35px;
}
.banner__content-logo__item figure {
    width: 100%;
    height: 100%;
    margin: 0;
}
.banner__content-logo__item img {
    height: 25px;
}

.banner__content-txt {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 68rem;
    margin-right: 12rem;
}
h1 {
    line-height: 1em;
    text-transform: uppercase;
}
.banner__content-txt p {
    font-weight: 400;
}

.about__video {
    width: 100%;
    max-width: 165rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    min-height: 34rem;
}

.about__video:not(:last-child) {
    margin-bottom: 10rem;
}

.about__content article {
    max-width: 48rem;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.about__content article .button {
    width: auto
}

.about__content h2, .about__content p, .header.header--white .header__content-logo, .header.header--white .header__content-nav ul a {
    color: #00020e;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
}

.about__content ul {
    max-width: 38rem;
}
.about__content ul, .constructor-columns {
    counter-reset: list;
}
ul {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

.about__content ul li span {
    color: #2a5dea;
}
.about__content ul li span, .about__content-tech-col>span:last-child {
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.2em;
    text-transform: uppercase;
}
.about__content ul li:not(:last-child) {
    margin-bottom: 4rem;
        justify-content: flex-start;
    text-align: left;
}
.about__content ul li:before {
    content: "0" counter(list);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.4em;
    color: #c2c5c9;
    margin-right: 1.6rem;
}


.about-dedicated__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.about__content--dedicated-mod {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.constructor-title:not(:last-child), .landing-links:not(:last-child), h2:not(:last-child) {
    margin-bottom: 4rem;
}

.about__content--dedicated-mod ul {
    max-width: 42rem;
}
.about__content--dedicated-mod ul li .icon-wrap:first-child {
    margin-right: 2.4rem;
}
.about__content--dedicated-mod ul:not(:last-child) {
    margin-bottom: 5.2rem;
}
.about__content--dedicated-mod ul li, .person__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.about__content--dedicated-mod ul li span {
    color: #fff;
    font-weight: 600;
    font-size: 1.063rem;
    line-height: 1.5em;
}
.about__content--dedicated-mod ul li .icon-wrap {
    width: 5.2rem;
    height: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.about__content--dedicated-mod ul li:not(:last-child) {
    margin-bottom: 4.2rem;
}
.about-dedicated-mod {
    background: url(../images/tmp_file/stubs/14.png) top center / cover no-repeat #fff;
    padding-top: 30rem;
    padding-bottom: 38.6rem !important;
    position: relative;
}

.acf-block-preview .button {
    padding: 0 7rem !important;
    height: 8.2rem;
    line-height: 8rem !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    width: 100% !important;
}
.acf-block-preview .button>.icon:last-child {
    margin-left: 1.2rem;
}
.acf-block-preview .button--blue {
    background: #164bdc !important;
}
.acf-block-preview .button--blue span {
    color: #fff;
}

.acf-block-preview .about__content--dedicated-mod {
    text-align: left;
}

.acf-block-preview .button>.icon {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1em;
    -webkit-transition: .5s;
    transition: .5s;
    color: #fff;
}
.acf-block-preview .about__content--dedicated-mod button {
    width: auto !important;
}
.acf-block-preview .button>span, .link-line span, .title-sub {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.2em;
    font-family: "Bai Jamjuree";
    text-transform: uppercase;
}

@media (min-width: 1220px) {
    .container {
        max-width: 120rem;
    }
}

@media (min-width: 1025px) {
    .container {
        max-width: 101.1rem;
    }
}

@media (min-width: 768px) {
    .col-md-14 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
}
@media (min-width: 768px) {
    .col-md-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
}